@model IEnumerable<LostCampStore.Models.ViewModels.Pages.PageVM>

@{
    ViewBag.Title = "Страницы";
}

<h2>Страницы</h2>

@if (TempData["SM"] != null)
{
    <div class="alert alert-success">
        @TempData["SM"]
    </div>
}

<p>
    @Html.ActionLink("Добавить новую страницу", "AddPage", "", new { @class = "btn btn-success" })
</p>


<table class="table sorting" id="pages">
    <tr class="home">
        <th>
            Наименование
        </th>
        <th>
            Краткое описание
        </th>

        <th>
            Избранное
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr id="id_@item.Id" class="@item.Slug">
            <td>
                @if (item.Slug != "home")
                {
                    <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                }
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.HasSidebar)
            </td>
            <td>
                @Html.ActionLink("Исправить", "EditPage", new { id = item.Id }) |
                @Html.ActionLink("Детали", "PageDetails", new { id = item.Id })

                <!--если slug = home, то не показываем кнопку-->
                @if (item.Slug != "home")
                {
                    string slash = "| ";
                    @slash;
                    @Html.ActionLink("Удалить", "DeletePage", new { id = item.Id }, new { @class = "delete" })
                }
            </td>
        </tr>
    }

</table>

@section Scripts
{
    <script src="~/Content/ShopJS/PagesIndexViewJS.js"></script>
}
